name: Test
on: ["push", "pull_request"]
jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Run Prettier Test
        run: npx prettier --check "src/**/*.js"
      - name: Check i18n Translations
        run: npm run lint:i18n
